<!-- //views/about.ejs -->
<!DOCTYPE html>
<html>
    <%- include("partials/head"); %>
<body>
    <%- include("partials/navbar"); %>
    <div class = "container m-4">
        <h1>About</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore, sit. Ipsum suscipit sint aspernatur libero! Dignissimos, ut cupiditate atque ad, minus neque nulla necessitatibus, adipisci repudiandae delectus fuga dolores dolorem?
        </p>
    </div>
</body>
</html>